
KEY="apikey-newsapi.org"

TOP_HEADLINES_URL="https://newsapi.org/v2/top-headlines"

REDSHIFT_USER="usuario-redshift"

PROJECT="Entregable3"

AIRFLOW_UID="Identificador UID para airflow"

AIRFLOW_GID="Identificador GID para airflow"